* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(202, 125, 133);
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.color-tool-wrapper {
    flex-direction: column;
    height: 350px; /* remove fixed heights and width for responsiveness later */
    width: 350px;
    padding: 30px;
    background-color: rgb(95, 95, 179);
    border: 5px solid yellow;
    gap: 5px; /* adds gap to all flex-child items within the parent with a display of flex - UPDATE LATER */
}

.color-box {
    height: 50px;
    width: 100%;
    border: 2px solid black;
}

#input--color,
#input--range-slider {
    width: 40%;
}

.toggle {
    display: flex;
    align-items: center;
    margin: 0.75rem 0;
}

.toggle-text {
    font-size: 1.25rem;
}

.toggle-btn {
    display: flex;
    align-items: center;
    height: 35px;
    width: 65px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 0.5rem;
}

.inner-circle {
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 50%;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(29px);
    background-color: #333;
}

.unselected-toggle-text {
    opacity: 0.45;
}